html {
  position: relative;
  min-height: 100%;
  margin: 0px;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #f5f5f5;
  z-index: 100;
}

.App {
  vertical-align: middle;
}

.App-header {
  background-color: #222;
  padding: 5px;
  color: white;
  text-align: center;
  height: 60px;
  width: 100%;
}

.btn{
  margin-right:5px;
}

.App-intro {
  font-size: large;
}

.pairingHeader {
  float: right;
}

#blocksArea {
  padding: 0px;
}

#previewArea {
  padding: 0px;
  background: white;
}

#codearea {
  margin: 10px;
}

.previewWrapper{
  height: 90%;
  display:flex;
}

/*Tab controls */

.TabbedArea {
  margin: 5px auto;
  width: 90%;
  font-family: sans-serif;
  color: #555;
  font-size: 14px;
  line-height: 24px;
  height: 90%;
}

.Tab {
  margin: 0px;
  padding: 0px;
}

.Tab li {
  /*float: left;
  width: 20%;*/
  display: inline-block;
}

.Tab a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #888;
  padding: 10px 10px;
  background: #f7f7f7;
}

.Tab a:hover {
  background: #ddd;
}

.Tab a.active {
  background: #ddd;
  border-bottom: 2px solid #888;
}

.TabPane {
  padding: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  background: #ddd;
  height: 100%;
}

.TabbedContentSection{
  height:100%;
}

.statusMessage-enter {
  opacity: 0.01;
}

.statusMessage-enter.statusMessage-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.statusMessage-leave {
  opacity: 1;
}

.statusMessage-leave.statusMessage-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.rightLink{
  float:right;
}

/*.clearfix:after {
  content: "";
  display: table;
  clear: both;
}*/